<div class="row">
  <div class="col">
    <% if current_user %>
      <p>You're not logged in, follow the links below to explore the example app.</p>
    <% else %>
      <p>Sign in below to start using the example app:</p>
      <p><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %></p>
    <% end %>
  </div>
</div>